[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# ------------------------------------------------------------------------------

[packages]
# Django - https://www.djangoproject.com/
Django = ">=3.2,<3.3"
# Django evironment - https://github.com/joke2k/django-environ
django-environ = ">=0.4.5,<1.0"
# DjangoMix - https://github.com/m-a-k-o/django-mix
djangomix = ">=1.1.3,<3.2"
# Python Web Server - https://github.com/benoitc/gunicorn
gunicorn = ">=20.0.4,<20.1"
# Database adapter - # https://github.com/psycopg/psycopg2
psycopg2 = ">=2.8.6,<2.9"
# Pytz timezone calc - # https://github.com/stub42/pytz
pytz = "==2020.1"
{%- if cookiecutter.use_whitenoise == "y" %}
# Simplified static file serving - # http://whitenoise.evans.io/en/stable/
whitenoise = ">=5.2.0,<5.3"
{%- endif %}
{%- if cookiecutter.use_async == 'y' %}
# uvicorn https://github.com/encode/uvicorn
uvicorn = ">=0.13.4,<0.14"
{%- endif %}
# ------------------------------------------------------------------------------

[dev-packages]
# Code quality - https://github.com/PyCQA/flake8
flake8 = ">=3.8.3,<3.9"
# Code import sorting - https://github.com/gforcada/flake8-isort
flake8-isort = ">=4.0.0,<4.1"
# Code formatter - https://github.com/google/yapf
yapf = ">=0.31.0,<0.32"
# ------------------------------------------------------------------------------

[scripts]
collectstatic = "python manage.py collectstatic"
createsuperuser = "python manage.py createsuperuser"
genkey = "python manage.py genkey"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
server = "python manage.py runserver"
showurls = "python manage.py showurls"
startapp = "python manage.py startapp"
test = "python manage.py test"
# ------------------------------------------------------------------------------

[requires]
python_version = "3.9"
